{
  "presets": [
    [
      "env",
      {
        "esmodules": false,
        "targets": {
          "browsers": [
            "> 3%"
          ]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-runtime"
  ]
}
